<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Mon mémo</title>

    <style>
        a:link {
            color: black;
        }
        a:visited {
            color: #77593c;
        }
        a:hover {
            color: #77593c;
            text-decoration: none;
        }
        a:active {
            color: black;
        }

        .field-error{
            margin-bottom:10px;
            color: #da4747;
            text-align: center;
        }
        #msg{
            margin-top: 0;
            margin-bottom:15px;
            padding: 5px;
            color: #865439;
            text-align: left;
            font-size: 14px;
        }
    </style>

</head>
<body>
<br><br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
        <div class="justify-content-center" style="text-align: center">
            <a href="/memo"><img src="../img/logo2.jpeg" width="350" height="90"></a><br><br>
            <div class="container-sm">
                <div class="field-error" th:errors="*{loginCommand.id}"></div><!--오류메세지 출력-->
                <span id="msg"></span><br>
            <form name="logincheck" action="/signin/loginExecute" class="margin-t" commandName="loginCommand" method="POST">
                <div class="form-group">
                    <input th:if="!${cookie}" type="text" class="form-control" name="id" placeholder="Id" required="">
                    <input th:if="${cookie}" type="text" class="form-control" name="id" th:value="${cookie}">
                </div>
                <div class="form-group">
                    <input type="password" name="pw" class="form-control" placeholder="Password" required="">
                </div>
                <div class="form-check mb-3 text-left"><label class="text-whitesmoke">
                    <input th:if="!${cookie}" class="form-check-input" type="checkbox" name="rememberlogin" value="0">
                    <input th:if="${cookie}" class="form-check-input" type="checkbox" checked name="rememberlogin" value="1">
                    Remember Id
                </label>
                </div>

                <div class="d-grid mb-2">
                    <button type="button" onclick="validation()" class="btn btn-login btn-block" style="background-color: #e0C097; border: 0;"><i class="fa fa-user"></i>&nbsp;Login</button>
                </div>

                <hr>
                <button type="button" class="btn btn-login btn-block"
                        onclick="location.href='../register/register'" style="background-color: #9d7b59; border: 0;"> <i class="fas fa-user-plus"></i> Register
                </button>
            </form><br>
                <a href="../member/findPass" onclick="window.open(this.href,'_blank','width=400,height=550,location=no,status=no,top=100'); return false;" class="text-darkyellow"><small><i class='fas fa-exclamation-circle'></i> Forgot your password?</small></a>
    </div>
        </div>
        </div>
</div>

<script>
    function validation() {

        var a = document.forms["logincheck"]["id"].value;
        var b = document.forms["logincheck"]["pw"].value;

        if (a == null || a == "") {
            let msg = document.getElementById('msg');
            msg.innerHTML = "<i class=\"fas fa-exclamation-circle\"></i>Please input your Id";
            return false;

        } else if (b == null || b == "") {
            let msg = document.getElementById('msg');
            msg.innerHTML = "<i class=\"fas fa-exclamation-circle\"></i>Please input your Password";
            return false;

        } else {
            logincheck.submit();
        }

    }
</script>
</body>
</html>