#page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: [header-left] "head head" 1000px [header-right]
                 [footer-left] "foot foot" 1000px [footer-right]
}
header {
    background-color: #ffffff;
    grid-area: head;
    width:200px;
}

main {
    background-color: #ffffff;
    grid-area: main;
}

footer {
    background-color: #ffffff;
    width:100px;
    color: gray;
    font-size:10pt;
    grid-area: foot;
}

#write{
    width:400px;
    height:100px;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
}
#btn{
    width:80px;
}