<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mon mémo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link th:href="@{/css/style.css}" rel="stylesheet">

    <style>
        a:link {
            color: black;
        }
        a:visited {
            color: #77593c;
        }
        a:hover {
            color: #77593c;
            text-decoration: none;
        }
        a:active {
            color: black;
        }

        .pagenum{
            padding: 3px 8px 3px 8px;
            color: #605039;
        }
        .pagenum:hover{
            background-color: #c99056;
            border-radius: 15px;
            color: white;
        }

        #grid-container {
            display: grid;
            gap: 50px;
            grid-template-columns: auto auto auto;
            background-color: #ffffff;
            padding: 10px;
        }

        .grid-item {
            width: 300px;
            height: 250px;
            background-color: wheat;
            padding: 15px;
            border: none;
            border-radius: 10px;
        }
        .grid-text{
            font-size: 14px;
            text-align: center;
        }
        .grid-item a{
            width: 20px;
            height: 20px;
            margin-top: 5px;
            margin-right:5px;
            float: right;
            color: saddlebrown;
        }
    </style>

</head>

<header>
    <div class="container">
            <div class="search_content">
            <th:block th:if="${session.loginInfo!=null}">
                [[${session.loginInfo.id}]], welcome back! <a href="/signout"><i class='fas fa-sign-out-alt'></i> Log out</a>
            </th:block>
            </div>
        </div>

</header>

<nav>
    <div class="container">
        <div style="text-align: center">
            <a href="/memo"><img src="../img/logo2.jpeg" width="350" height="90"></a>

        <form action="/memo/search" method="GET">
            <div style="text-align: center">
                <input name="keyword" type="text" placeholder="Search by content" style="background-color: white;border: none"> <button type="submit" class="btn btn-primary btn-sm" style="background-color: #865439; border: 0;"><i class="fas fa-search"></i></button>
            </div>
        </form>
        </div>
    </div>
</nav>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br><br>
        <form action="/write" commandName="memoForm" method="POST"><!--메모 작성하는 곳-->
            <textarea id="write" name="memo" placeholder="You can write your memo here upto 300 characters."></textarea><br><br>
            <input type="submit" id="btn" value="Write" class="btn btn-login btn-block" style="background-color: #e0C097; border: 0;">
            <br><br>
        </form>

        </div>
    </div>


    <div id="grid-container">
        <div class="grid-item" th:if="${!savedmemo.isEmpty()}" th:each="list :${savedmemo}">
            <a th:href="@{/memo/{memoNum}(memoNum=${list.memoNum})}"><i class="far fa-window-close"></i></a>
            <div class="grid-text" th:text="${list.memo}"></div>
        </div>

    </div>

</div>
<br><br>


</body>

<footer>
    <div th:if="${keyword==null}" style="text-align: center; font-size: 12pt"><!--  페이징 처리 -->
        <th:block th:switch="${totalCntJudge}">
            <th:block th:case="101">
                <th:block th:if="${(section)*90<totalCnt}">
                    <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                        <th:block th:if="${section >1 && page==1}">
                            <a th:href="@{/memo(section=${section}-1, pageNum=10)}"> <i class='fas fa-chevron-left'></i> </a>
                        </th:block>
                        <a th:href="@{/memo(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}" class="pagenum"></span></a>
                        <th:block th:if="${page==10}">
                            <a th:href="@{/memo(section=${section+1}, pageNum=1)}"> <i class='fas fa-chevron-right'></i> </a><!--next-->
                        </th:block>
                    </th:block>
                </th:block>

                <th:block th:if="${(section)*90>totalCnt}">
                    <th:block th:each="page : ${#numbers.sequence(1, (((totalCnt+8)-((section)-1)*100)/9) ,1)}">
                        <th:block th:if="${section >1 && page==1}">
                            <a th:href="@{/memo(section=${(section)-1}, pageNum=10)}"> <i class='fas fa-chevron-left'></i> </a>
                        </th:block>
                        <a th:href="@{/memo(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}" class="pagenum"></span></a>
                    </th:block>
                </th:block>

                <th:block th:if="${(section)*90==totalCnt}">
                    <th:block th:each="page : ${#numbers.sequence(1, 10 ,1)}">
                        <th:block th:if="${section >1 && page==1}">
                            <a th:href="@{/memo(section=${(section)-1}, pageNum=10)}"> <i class='fas fa-chevron-left'></i> </a>
                        </th:block>
                        <a th:href="@{/memo(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}" class="pagenum"></span></a>
                    </th:block>
                </th:block>

            </th:block>
            <th:block th:case="100">
                <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                    <a th:href="@{/memo(section=${section}, pageNum=${page})}"><span th:text="${page}" class="pagenum"></span></a>
                </th:block>
            </th:block>
            <th:block th:case="99">
                <th:block th:each="page : ${#numbers.sequence(1,((totalCnt+8)/9),1)}">
                    <a th:href="@{/memo(section=${section}, pageNum=${page})}"><span th:text="${page}" class="pagenum"></span></a>
                </th:block>
            </th:block>
        </th:block>
    </div>

    <div th:if="${keyword!=null}" style="text-align: center; font-size: 12pt">  <!--  검색 페이징 처리 -->
        <th:block th:switch="${totalCntJudge}">
            <th:block th:case="101">
                <th:block th:if="${(section)*90<totalCnt}">
                    <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                        <th:block th:if="${section >1 && page==1}">
                            <a th:href="@{/memo/search(section=${section}-1, pageNum=10, keyword=${keyword})}"> <i class='fas fa-chevron-left'></i> </a>
                        </th:block>
                        <a th:href="@{/memo/search(section=${section}, pageNum=${page}, keyword=${keyword})}"><span th:text="${((section)-1)*10+page}" class="pagenum"></span></a>
                        <th:block th:if="${page==10}">
                            <a th:href="@{/memo/search(section=${section+1}, pageNum=1, keyword=${keyword})}"> <i class='fas fa-chevron-right'></i> </a>
                        </th:block>
                    </th:block>
                </th:block>

                <th:block th:if="${(section)*90>totalCnt}">
                    <th:block th:each="page : ${#numbers.sequence(1, (((totalCnt+8)-((section)-1)*100)/9) ,1)}">
                        <th:block th:if="${section >1 && page==1}">
                            <a th:href="@{/memo/search(section=${(section)-1}, pageNum=10, keyword=${keyword})}"> <i class='fas fa-chevron-left'></i> </a>
                        </th:block>
                        <a th:href="@{/memo/search(section=${section}, pageNum=${page}, keyword=${keyword})}"><span th:text="${((section)-1)*10+page}" class="pagenum"></span></a>
                    </th:block>
                </th:block>

                <th:block th:if="${(section)*90==totalCnt}">
                    <th:block th:each="page : ${#numbers.sequence(1, 10 ,1)}">
                        <th:block th:if="${section >1 && page==1}">
                            <a th:href="@{/memo/search(section=${(section)-1}, pageNum=10, keyword=${keyword})}"> <i class='fas fa-chevron-left'></i> </a>
                        </th:block>
                        <a th:href="@{/memo/search(section=${section}, pageNum=${page}, keyword=${keyword})}"><span th:text="${((section)-1)*10+page}" class="pagenum"></span></a>
                    </th:block>
                </th:block>

            </th:block>
            <th:block th:case="100">
                <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                    <a th:href="@{/memo/search(section=${section}, pageNum=${page}, keyword=${keyword})}"><span th:text="${page}" class="pagenum"></span></a>
                </th:block>
            </th:block>
            <th:block th:case="99">
                <th:block th:each="page : ${#numbers.sequence(1,((totalCnt+8)/9),1)}">
                    <a th:href="@{/memo/search(section=${section}, pageNum=${page}, keyword=${keyword})}"><span th:text="${page}" class="pagenum"></span></a>
                </th:block>
            </th:block>
        </th:block>
    </div>


    </div>

    <br><br>
    <div style="text-align: center"><h6>Copyrights All Reserved By Monique</h6></div>
</footer>
</html>