<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon mémo</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <style>
        #grid-container {
            display: grid;
            gap: 50px;
            grid-template-columns: auto auto auto;
            background-color: #ffffff;
            padding: 10px;
        }

        .grid-item {
            width: 300px;
            height: 250px;
            background-color: wheat;
            padding: 15px;
            border: none;
            border-radius: 10px;
            font-size: 14px;
            text-align: center;
        }
    </style>

</head>
<header>
    <div style="text-align: center">
    <h1>Mon mémo</h1>
    </div>
</header>
</div>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

        <p>You can write your memo upto 300 characters.</p>

        <form name="writememo" action="/write">
        <input type="text" id="write" name="memo" placeholder="Write your memo here"><br><br>
            <input type="button" onclick="Writememo();" id="btn" value="Write" class="btn btn-login btn-block" style="background-color: #e0C097; border: 0;"><br><br>
        </form>

        </div>
    </div>


    <div id="grid-container">
        <th:block th:if="${!savedmemo.isEmpty()}" th:each="list :${savedmemo}">
            <div class="grid-item" th:text="${list.memo}"></div>
        </th:block>

    <!--    <div class="grid-item">1</div>-->
    <!--    <div class="grid-item">2</div>-->
    <!--    <div class="grid-item">3</div>-->
    <!--    <div class="grid-item">4</div>-->
    <!--    <div class="grid-item">5</div>-->
    <!--    <div class="grid-item">6</div>-->
    <!--    <div class="grid-item">7</div>-->
    <!--    <div class="grid-item">8</div>-->
    <!--    <div class="grid-item">9</div>-->
    </div>

</div>
<script>
    function Writememo(){
        let memo = document.forms["writememo"]["memo"].value;
        console.log(memo+"정상출력");

        $.ajax({
            type : 'POST',
            url : '/memo/write',
            data : JSON.stringify(memo),
            dataType :'json',
            accept: 'application/json',
            contentType : 'application/json; charset=UTF-8',
            success : function(result) {
                console.log("데이터 보내기 성공");
                console.log(result);

                let memosave = document.getElementById('grid-container');
                console.log(memosave);

                //memosave.innerHTML = "<div class=\"grid-item\">"+memo+"</div>";

                let newmemo = document.createElement('div');
                memosave.appendChild(newmemo);
                newmemo.setAttribute("class","grid-item");
                newmemo.innerHTML = memo;

            },
            error: function(request, status, error){
                alert("code: "+request.status+"\n"+"message: 에러발생"+"\n"+"error: "+error);
            }
        }); // ajax 끝

    }
</script>
</body>
<footer>
    <div style="text-align: center"><h6>Copyrights All Reserved By Monique</h6></div>
</footer>
</html>