<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mon.memo.mapper.Mapper">

    <select id="selectAllMember" resultType="com.mon.memo.domain.Member">
        SELECT memberNum,memberId,memberEmail
        FROM member
    </select>

    <select id="selectByIdAll" resultType="com.mon.memo.domain.Member"><!--Auth 인증때 사용-->
        SELECT * from member WHERE memberId=#{memberId}
    </select>

    <insert id="insertMember" parameterType="com.mon.memo.domain.Member">
        INSERT INTO member
        VALUES(member_seq.nextval,#{memberId},#{memberPw},#{memberEmail})
    </insert>

    <insert id="insertMemo" parameterType="com.mon.memo.domain.Memo">
        INSERT INTO memo
        VALUES(memo_seq.nextval,#{memberId},#{memo})
    </insert>

    <select id="memoAll" resultType="com.mon.memo.domain.Memo">
        SELECT memoNum,memo
        FROM memo
        WHERE memberId=#{memberId}
        ORDER BY memoNum DESC
    </select>

<!--    <update id="updateMember" parameterType="team.kyp.kypcoffee.domain.Member">-->
<!--        UPDATE member-->
<!--        SET  memberPw=#{memberPw}, memberName=#{memberName}, memberBday=#{memberBday}, memberAddress=#{memberAddress},-->
<!--             memberTel=#{memberTel},memberPhone=#{memberPhone},memberEmail=#{memberEmail}, memberEmailYn=#{memberEmailYn}-->
<!--        WHERE memberNum=#{memberNum}-->
<!--    </update>-->
<!--    -->
<!--    <insert id="insertMemberInfo" parameterType="team.kyp.kypcoffee.domain.Member">-->
<!--        INSERT INTO member_info-->
<!--        VALUES(member_seq.currval,#{memberType})-->
<!--    </insert>-->

<!--    <delete id="deleteMember" parameterType="team.kyp.kypcoffee.domain.Member">-->
<!--        DELETE member WHERE memberNum=#{memberNum}-->
<!--    </delete>-->

<!--    <select id="selectMemberListPaging" resultType="team.kyp.kypcoffee.domain.Member">-->
<!--        SELECT RN ,memberNum,memberPw,memberId,memberName,memberBday,memberAddress,memberTel,memberPhone,memberEmail,memberEmailYn,memberMileage-->
<!--        FROM-->
<!--            (SELECT ROWNUM as RN ,memberNum,memberPw,memberId,memberName,memberBday,memberAddress,memberTel,memberPhone,memberEmail,memberEmailYn,memberMileage-->
<!--             FROM (SELECT * FROM member-->
<!--                   ORDER BY memberNum desc))-->
<!--        WHERE RN BETWEEN (#{section}-1)*100+(#{pageNum}-1)*10+1 AND (#{section}-1)*100+(#{pageNum})*10-->
<!--    </select>-->
<!--    -->
</mapper>
